.WorkoutEdit {
  padding: 0.5em;
}

.edit-header {
  padding: 1em 0;
}

.workouts-link {
  text-decoration: none;
  padding: 0.5em;
  border: 1px solid black;
  display: inline-block;
  margin-right: 1em;
  border-radius: 0.5em;
  color: black;
}

.workouts-link:visited {
  color: black;
}

.workout-name {
  display: inline;
}

.Add {
  font-size: 2em;
  display: block;
  width: 100%;
}
